{% extends "layout.html" %}

{% block content %}
      <div class="photo">
        <img class="imgGuard" src="http://192.168.0.103:9000/?action=stream" width="100%" ">
     </div>
        <div class="inner">
          <button id="left" type="button" class="btn btn-primary">←</button>
          <button id="forward"type="button" class="btn btn-success">↑</button>  
          <button id="back"type="button" class="btn btn-danger">↓</button>
          <button id="right" class="btn btn-warning">→</button> 
        </div>
  <script>
    var timerID;

    $("#right").on('touchstart', function() {
        sendCommand('right')
    });
    $("#left").on('touchstart', function() {
      sendCommand('left')
    });
    $("#forward").on('touchstart', function() {
      sendCommand('forward')
    });
    $("#back").on('touchstart', function() {
      sendCommand('back')
    });

    $(document).on('touchend', function() {
      sendCommand('stop')
    });
    function sendCommand(command, params={}) {
        console.log({action: 'sendCommand', command: command, params: params});
        params['command'] = command;
        $.post("/api/command/", params).done(function (json) {
            console.log({action: 'sendCommand', json: json});
        }, 'json')
    }

    function imgGuard(name){
      $(name).on('mousedown mouseup',function(e){
          return false;
      });
  
      $(name).css({
        'pointer-events':'none',
        '-webkit-touch-callout':'none',
        '-webkit-user-select':'none',
        '-moz-touch-callout':'none',
        '-moz-user-select':'none',
        'touch-callout':'none',
        'user-select':'none'
      });
    }

    $(function(){
      imgGuard('.imgGuard');
    });

  </script>

{% endblock %}
